@{
  Layout = "_Layout";
}

<div class="container">
  <h1 class="title"><strong>EAU CLAIRE'S SALON</strong></h1>
  <h2><strong>Delete Stylist</strong></h2>

  <div class="infoBox">
    @model HairSalon.Models.Stylist

    <h4><strong>Are you sure you want to delete this stylist?</strong></h4>

    <strong>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</strong>
    @using (Html.BeginForm())
    {
      <input type="submit" value="Delete" id="btn3" />
    }
  </div>
  
  <h4 id="centerLink">@Html.ActionLink("Cancel", "Index")</h4>
</div>