body {
  background-color: rgb(240, 162, 190);
}

.title {
  margin-top: 3%;
  text-align: center;
  color: #1292ab;
}

input {
  width: 35%;
  float: right;
  margin-right: 40%;
  text-align: center;
  font-weight: bold;
  color: #136373;
  border: 5px solid rgb(242, 94, 146);
  background-color: rgb(240, 172, 196);
}

img {
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 1%;
  width: 90%;
  border: 5px solid rgb(245, 46, 119); 
}

h1 {
  text-align: center;
  color: #1292ab;
  font-weight: bold;
}

h2, h5 {
  text-align: center;
  font-weight: bold;
  color: rgb(246, 30, 109);
}

h3, h6{
  color: rgb(245, 46, 119);
}

h4 {
  color: rgb(36, 7, 81);
  text-align: center;
}

#sideLink {
  float: right;
  margin-right:3%;
  border: 5px solid #1292ab;
  padding: 5px;
  font-weight: bold;
  font-size: 25px;
  color: rgb(8, 76, 93);
  margin-top: -15%;
  width: 28%;
  background-color: rgb(216, 236, 150);  
}

#sideLink2 {
  float: right;
  margin-right:3%;
  border: 5px solid #1292ab;
  padding: 5px;
  font-weight: bold;
  font-size: 25px;
  color: rgb(8, 76, 93);
  margin-top: -8%;
  width: 28%;
  background-color: rgb(216, 236, 150);  
}

#btn {
  float: right;
  margin-right: 3%;
  border: 5px solid #1292ab;
  padding: 3px;
  font-weight: bold;
  font-size: 25px;
  color: rgb(8, 76, 93);
  margin-top: -23%;
  width: 28%;
  background-color: rgb(216, 236, 150);  
}


#btn2 {
  float: right;
  margin-right: 3%;
  border: 5px solid #1292ab;
  padding: 3px;
  font-weight: bold;
  font-size: 25px;
  color: rgb(8, 76, 93);
  margin-top: -17%;
  width: 28%;
  background-color: rgb(216, 236, 150);  
}

#btn3 {
  float: right;
  margin-right: 3%;
  border: 3px solid #1292ab;
  padding: 2px;
  font-weight: bold;
  font-size: 25px;
  color: rgb(8, 76, 93);
  margin-top: -5%;
  width: 40%;
  background-color: rgb(216, 236, 150);  
}

.infoBox {
  margin-left: 5%;
  padding: 2%;
  padding-left: 7%;
  color: rgb(8, 76, 93);
  border: 5px solid rgb(245, 46, 119); 
  width:90%;
  background-color: rgb(162, 232, 234); 
  font-size: 25px;
  font-weight: bold;
}

#stylistLink {
  float: left;
  margin-left: 5%;
  border: 5px solid rgb(245, 46, 119);
  padding: 5px;
  margin-top: 2%;
  width:40%;
  text-align: center;
  background-color: rgb(236, 224, 146);   
}

#addStylistLink {
  float: left;
  margin-left: 5%;
  border: 5px solid rgb(245, 46, 119);
  padding: 5px;
  margin-top: 2%;
  width:40%;
  text-align: center;
  background-color: rgb(236, 224, 146);
  color: rgb(8, 76, 93);
}

#rightSideLink {
  float: right;
  margin-right: 5%;
  border: 5px solid rgb(245, 46, 119);
  padding: 5px;
  margin-top: 2%;
  text-align: center;
  width:40%;
  background-color: rgb(236, 224, 146);  
}

#centerLink {
  margin-left: 30%;
  border: 5px solid rgb(245, 46, 119);
  padding: 5px;
  margin-top: 2%;
  text-align: center;
  width:40%;
  background-color: rgb(236, 224, 146);  
}

